$primary : #ff33d6;
$secondary : #202635;
$accent : #9C27B0;

$dark : #1D1D1D;
$dark-page : #0e101a;

$positive : #21BA45;
$negative : #C10015;
$info : #31CCEC;
$warning : #F2C037;

$white : #ffffff;
